body{
	background: url(osnova.jpg) no-repeat;
	height: 100%;
	width: 100%;
}

.cadastre {
	margin-top: 250px;
	margin-left: 340px;
	height: 64px;
	width: 560px;
	background-image: url(Cadastre.jpg);
}

.center{
	background-color: rgba(0,0,0,0.6);
	height: 545px;
	width: 560px;
	margin-left: 340px;
}
	
.fb{
	margin-top: 35px;
	margin-left: 142px;
	width: 270px; 
    height: 30px; 
	background-image: url(fb2.jpg); 
    border-top: 2px #6699cc solid; 
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
    border-radius: 5px;
	text-align: center;
} 

.line {
	margin-top: 30px;
	margin-left: 142px;
	margin-bottom: 15px;
	font-weight: bold;
	color: #999999;
	text-align: center;
	position: relative;
	width: 270px;
	
}

.line:before {
	display: block;
	position: absolute;
	right: 0;
	top: 8px;
	width: 40%;
	border-bottom: 1px solid black;
	border-top: 1px solid #666666;
	content: '';

	
}

.line:after {
	display: block;
	position: absolute;
	left: 0;
	top: 8px;
	width: 40%;
	border-bottom: 1px solid black;
	border-top: 1px solid #666666;
	content: '';
		
}

input {
	height: 33px;
	width: 256px;
	margin-top: 15px;
	margin-left: 142px;
	background-color: black;
	color: #9e9e9e;
    padding-left: 17px;
	border-top: 0px;
	border-bottom: 2px solid #666666;
	border-left: 0px;
	border-right: 0px;
	font-family: 'Helvetica Neue Regular', sans-serif;
		
}

input:focus {
	color: white;
	background-color: #1b5288;
	
}


.span {
	color: #9e9e9e;
	text-align: center;
	font-family: 'Helvetica Neue Regular', sans-serif;
	margin-right: 140px;
		
}

.chek {
	margin-top: 20px;
	height: 11px;
	width: 11px;
	
}


.account {
	height: 35px;
	width: 150px;
	margin-left: 205px;
	margin-top: 23px;
	background-image: url(account.jpg); 
     border-top: 2px #6699cc solid; 
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
     border-radius: 5px;
	text-align: center;
}

.down {
	margin-left: 110px;
	margin-right: 80px;
	margin-top: 20px;
	color: #9e9e9e;
	width: 330px;
	text-align: center;
	font-size: 11px;
	font-family: 'Helvetica Neue Regular', sans-serif;
	
}